 .button-add {
     margin-top: 11px;
 }
 
 .element-add {
     position: fixed;
     bottom: 0px;
     left: 3px;
     margin-right: auto;
     margin-left: auto;
 }
 
 .element-recharge {
     position: fixed;
     bottom: 0px;
     left: 65px;
     margin-right: auto;
     margin-left: auto;
 }
 
 .element-savedir {
     position: fixed;
     bottom: 0px;
     left: 130px;
     margin-right: auto;
     margin-left: auto;
 }
 
 .pasar-archivo {
     position: fixed;
     top: 47px;
     left: 4px;
     margin-right: auto;
     margin-left: auto;
 }
 
 .abrir-archivo {
     position: fixed;
     top: 94px;
     left: 4px;
     margin-right: auto;
     margin-left: auto;
 }
 
 .item-file {
     margin-top: 40px;
 }
 
 .v-treeview-node__label {
     font-size: 1em
 }
 
 .v-treeview-node__root {
     min-height: 21px;
 }
 
 .application--wrap {
     background-color: white;
 }
 
 .seleccionados {
     background-color: white;
 }